In [12]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

#### import the data

In [2]:
numerical = pd.read_csv('./files_for_lab/numerical.csv')
categorical = pd.read_csv('./files_for_lab/categorical.csv')
target = pd.read_csv('./files_for_lab/target.csv')

In [76]:
numerical

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0,60.000000,5,9,0,0,39,34,18,10,...,14,5.0,12.0,10.0,4,7.741935,95515,0,4,39
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,10.0,25.0,25.0,18,15.666667,148535,0,2,1
2,1,61.611649,3,1,2,0,20,29,33,6,...,14,2.0,16.0,5.0,12,7.481481,15078,1,4,60
3,0,70.000000,1,4,2,0,23,14,31,3,...,7,2.0,11.0,10.0,9,6.812500,172556,1,4,41
4,0,78.000000,3,2,60,1,28,9,53,26,...,8,3.0,15.0,15.0,14,6.864865,7112,1,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,25.0,25.0,25.0,9,25.000000,184568,0,1,12
95408,1,48.000000,7,9,1,0,31,43,19,4,...,0,20.0,20.0,20.0,9,20.000000,122706,1,1,2
95409,1,60.000000,5,9,0,0,18,46,20,7,...,4,3.0,10.0,10.0,3,8.285714,189641,1,3,34
95410,0,58.000000,7,9,0,0,28,35,20,9,...,18,5.0,21.0,18.0,4,12.146341,4693,1,4,11
95411,2,80.000000,5,8,3,1,33,22,27,8,...,11,10.0,201.0,100.0,6,96.794872,185114,1,1,12

In [77]:
categorical

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [7]:
categorical.dtypes

STATE           object
CLUSTER          int64
HOMEOWNR        object
GENDER          object
DATASRCE         int64
RFA_2R          object
RFA_2A          object
GEOCODE2        object
DOMAIN_A        object
DOMAIN_B         int64
ODATEW_YR        int64
ODATEW_MM        int64
DOB_YR           int64
DOB_MM           int64
MINRDATE_YR      int64
MINRDATE_MM      int64
MAXRDATE_YR      int64
MAXRDATE_MM      int64
LASTDATE_YR      int64
LASTDATE_MM      int64
FIRSTDATE_YR     int64
FIRSTDATE_MM     int64
dtype: object

In [9]:
categorical = categorical.astype(object)

In [10]:
categorical.dtypes

STATE           object
CLUSTER         object
HOMEOWNR        object
GENDER          object
DATASRCE        object
RFA_2R          object
RFA_2A          object
GEOCODE2        object
DOMAIN_A        object
DOMAIN_B        object
ODATEW_YR       object
ODATEW_MM       object
DOB_YR          object
DOB_MM          object
MINRDATE_YR     object
MINRDATE_MM     object
MAXRDATE_YR     object
MAXRDATE_MM     object
LASTDATE_YR     object
LASTDATE_MM     object
FIRSTDATE_YR    object
FIRSTDATE_MM    object
dtype: object

In [16]:
target

       TARGET_B  TARGET_D
0             0       0.0
1             0       0.0
2             0       0.0
3             0       0.0
4             0       0.0
...         ...       ...
95407         0       0.0
95408         0       0.0
95409         0       0.0
95410         1      18.0
95411         0       0.0

[95412 rows x 2 columns]

#### Apply the Random Forests algorithm but this time only by upscaling the data.

##### first do the train test split

In [49]:
all_data = pd.concat([numerical, categorical, target], axis=1)

In [50]:
X = all_data.drop(['TARGET_B'], axis = 1)
y = all_data['TARGET_B']

In [51]:
X

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_D
0,0,60.000000,5,9,0,0,39,34,18,10,...,12,92,8,94,2,95,12,89,11,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,2,93,10,95,12,95,12,93,10,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,2,91,11,92,7,95,12,90,1,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,1,87,11,94,11,95,12,87,2,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,1,93,10,96,1,96,1,79,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,2,96,2,96,2,96,2,96,2,0.0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,1,96,3,96,3,96,3,96,3,0.0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,1,96,3,95,1,96,10,94,10,0.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,5,90,11,96,8,97,1,86,12,18.0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,1,88,12,93,12,96,12,88,3,0.0

In [52]:
y

0        0
1        0
2        0
3        0
4        0
        ..
95407    0
95408    0
95409    0
95410    1
95411    0
Name: TARGET_B, Length: 95412, dtype: int64

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [54]:
X_train_num = X_train.select_dtypes(np.number)
X_test_num = X_test.select_dtypes(np.number)
X_train_cat = X_train.select_dtypes(object)
X_test_cat = X_test.select_dtypes(object)

##### Scale and OneHot Encode the data

In [55]:
#Usage of MinMax Scaler
scaler = MinMaxScaler().fit(X_train_num)

In [56]:
X_train_num_scaled = scaler.transform(X_train_num)
X_test_num_scaled = scaler.transform(X_test_num)

In [57]:
X_train_num_scaled = pd.DataFrame(X_train_num_scaled, columns=list(X_train_num.columns))
X_test_num_scaled = pd.DataFrame(X_test_num_scaled, columns=list(X_test_num.columns))

In [58]:
#Usage of One-Hot Encoding
encoder = OneHotEncoder(drop='first', handle_unknown = 'ignore').fit(X_train_cat)
all_columns = encoder.get_feature_names_out(input_features=X_train_cat.columns)
X_train_cat_encode = pd.DataFrame(encoder.transform(X_train_cat).toarray(), columns=all_columns)
X_test_cat_encode = pd.DataFrame(encoder.transform(X_test_cat).toarray(), columns=all_columns)

C:\Users\lisab\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:170: UserWarning: Found unknown categories in columns [10, 11, 12, 14, 20] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [59]:
X_train = pd.concat((X_train_num_scaled,X_train_cat_encode),axis=1)
X_test = pd.concat((X_test_num_scaled,X_test_cat_encode),axis=1)

In [60]:
y_train = y_train.reset_index(drop=True) 
y_test = y_test.reset_index(drop=True)

##### Oversampling the train data

In [61]:
trainset = pd.concat([X_train, y_train], axis=1)

In [63]:
# separate majority/minority classes
category_0 = trainset[trainset['TARGET_B'] == 0]
category_1 = trainset[trainset['TARGET_B'] == 1]

In [64]:
from sklearn.utils import resample
category_1_oversampled = resample(category_1, 
                                    replace=True,            
                                    n_samples = len(category_0))

In [65]:
print(category_1_oversampled.shape)
print(category_0.shape)

(67989, 628)
(67989, 628)

In [66]:
train_oversampled = pd.concat([category_1_oversampled, category_0], axis=0)

In [67]:
trainset_new = train_oversampled.sample(frac =1)

In [68]:
X_train = trainset_new.drop(['TARGET_B'], axis=1)
y_train = trainset_new['TARGET_B']
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

y_train_regression = X_train['TARGET_D']
y_test_regression = X_test['TARGET_D']

# Now we can remove the column target d from the set of features
X_train = X_train.drop(['TARGET_D'], axis = 1)
X_test = X_test.drop(['TARGET_D'], axis = 1)

In [69]:
clf = RandomForestClassifier(max_depth=5, # max number of questions to ask
                             min_samples_split=20, # amount of rows still considered at every question
                             min_samples_leaf =20, # ultimate answer based on at least this many rows
                             max_samples=0.2) # fraction of X-train to use in each tree
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

y_pred = clf.predict(X_test)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.6239538748915265
0.5995053033161447

0    22580
1     1273
Name: TARGET_B, dtype: int64

array([[13576,  9004],
       [  549,   724]], dtype=int64)

In [71]:
# For cross validation
clf = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
cross_val_scores = cross_val_score(clf, X_train, y_train, cv=5)
print(np.mean(cross_val_scores))

0.622144766971317

In [72]:
cross_val_scores

array([0.61729666, 0.62023827, 0.62777614, 0.62390145, 0.62151131])

#### Use Feature Selections that you have learned in class to decide if you want to use all of the features (Variance Threshold, RFE, PCA, etc.)

##### First try: RFE

In [80]:
X_RFE = numerical
y_RFE = target['TARGET_B']

from sklearn.feature_selection import RFE
from sklearn import linear_model
lm = linear_model.LinearRegression()
rfe = RFE(lm, n_features_to_select=25, verbose=False)
rfe.fit(X_RFE, y_RFE)

RFE(estimator=LinearRegression(), n_features_to_select=25, verbose=False)

In [83]:
# After we run the algorithm, it labels the top features as 1 and the rest are marked in an increasing order of importance.
df = pd.DataFrame(data = rfe.ranking_, columns=['Rank'])
df['Column_name'] = pd.DataFrame(numerical).columns
df[df['Rank']==1]
#df['Rank'].value_counts()

     Rank Column_name
2       1      INCOME
16      1     POP90C1
17      1     POP90C2
18      1     POP90C3
30      1       ETH10
76      1         DW3
77      1         DW4
78      1         DW5
92      1        HHD1
99      1        HHD8
120     1        RHP3
121     1        RHP4
122     1       HUPA1
123     1       HUPA2
163     1         MC1
164     1         MC2
168     1        TPE3
169     1        TPE4
170     1        TPE5
171     1        TPE6
196     1        OCC6
288     1        HC15
305     1    CARDGIFT
312     1    HPHONE_D
313     1      RFA_2F

In [84]:
# For building a new model, I just use these numerical columns + my categorical ones:
num_list = ['INCOME', 'POP90C1', 'ETH10', 'DW3', 'HHD1', 'RHP3', 'HUPA1', 'MC1', 'TPE3', 'OCC6', 'HC15', 'CARDGIFT', 'HPHONE_D'
           , 'RFA_2F']

In [89]:
X_train_rfe = X_train[num_list]
display(X_train_rfe)

,INCOME,POP90C1,ETH10,DW3,HHD1,RHP3,HUPA1,MC1,TPE3,OCC6,HC15,CARDGIFT,HPHONE_D,RFA_2F
39758,0.166667,0.0,0.000000,0.010101,0.424242,0.245902,0.030303,0.717172,0.000000,0.046512,0.000000,0.048780,0.0,0.333333
50678,0.666667,1.0,0.000000,0.010101,0.171717,0.163934,0.101010,0.777778,0.252525,0.023256,0.000000,0.073171,0.0,0.666667
7358,0.500000,0.0,0.000000,0.000000,0.474747,0.245902,0.000000,0.616162,0.010101,0.000000,0.033333,0.195122,0.0,0.000000
54531,0.500000,1.0,0.173913,0.000000,0.404040,0.245902,0.000000,0.373737,0.000000,0.000000,0.000000,0.048780,1.0,0.333333
60684,0.166667,0.0,0.000000,0.030303,0.363636,0.229508,0.090909,0.494949,0.000000,0.000000,0.000000,0.219512,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4052,0.666667,0.0,0.000000,0.101010,0.222222,0.163934,0.333333,0.666667,0.020202,0.000000,0.000000,0.073171,1.0,1.000000
50463,1.000000,1.0,0.000000,0.000000,0.222222,0.213115,0.000000,0.404040,0.020202,0.162791,0.000000,0.341463,0.0,0.666667
32783,0.833333,1.0,0.021739,0.000000,0.484848,0.278689,0.000000,0.393939,0.000000,0.000000,0.000000,0.097561,1.0,0.000000
15589,0.666667,1.0,0.000000,0.000000,0.575758,0.295082,0.000000,0.484848,0.000000,0.000000,0.000000,0.243902,0.0,0.666667
40079,0.166667,1.0,0.000000,0.010101,0.424242,0.245902,0.010101,0.363636,0.010101,0.000000,0.000000,0.341463,1.0,1.000000

In [90]:
X_test_rfe = X_test[num_list]
display(X_test_rfe)

,INCOME,POP90C1,ETH10,DW3,HHD1,RHP3,HUPA1,MC1,TPE3,OCC6,HC15,CARDGIFT,HPHONE_D,RFA_2F
0,0.500000,1.000000,0.021739,0.000000,0.222222,0.229508,0.000000,0.282828,0.161616,0.000000,0.0,0.024390,1.0,0.000000
1,0.500000,1.000000,0.000000,0.020202,0.050505,0.163934,0.191919,0.393939,0.000000,0.000000,0.0,0.048780,1.0,0.000000
2,1.000000,0.000000,0.000000,0.010101,0.565657,0.311475,0.010101,0.353535,0.010101,0.023256,0.0,0.414634,1.0,0.000000
3,0.666667,0.808081,0.000000,0.010101,0.515152,0.262295,0.030303,0.454545,0.000000,0.000000,0.0,0.024390,0.0,0.000000
4,0.666667,0.000000,0.000000,0.030303,0.383838,0.229508,0.060606,0.474747,0.000000,0.023256,0.0,0.048780,0.0,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23848,0.333333,0.000000,0.000000,0.020202,0.323232,0.213115,0.020202,0.444444,0.040404,0.000000,0.0,0.268293,0.0,0.666667
23849,1.000000,0.020202,0.000000,0.000000,0.575758,0.295082,0.000000,0.595960,0.050505,0.000000,0.0,0.121951,1.0,0.000000
23850,0.666667,1.000000,0.000000,0.020202,0.464646,0.245902,0.131313,0.717172,0.010101,0.000000,0.0,0.170732,0.0,0.333333
23851,0.166667,0.000000,0.000000,0.000000,0.404040,0.245902,0.000000,0.323232,0.000000,0.000000,0.0,0.073171,1.0,0.666667
23852,0.666667,1.000000,0.000000,0.010101,0.060606,0.163934,0.070707,0.393939,0.010101,0.000000,0.0,0.000000,0.0,0.000000

In [91]:
#Append categorical columns
X_train_rfe = pd.concat([X_train_rfe, X_train_cat_encode], axis = 1)
X_test_rfe = pd.concat([X_test_rfe, X_test_cat_encode], axis = 1)

In [92]:
X_train_rfe

,INCOME,POP90C1,ETH10,DW3,HHD1,RHP3,HUPA1,MC1,TPE3,OCC6,...,FIRSTDATE_MM_3,FIRSTDATE_MM_4,FIRSTDATE_MM_5,FIRSTDATE_MM_6,FIRSTDATE_MM_7,FIRSTDATE_MM_8,FIRSTDATE_MM_9,FIRSTDATE_MM_10,FIRSTDATE_MM_11,FIRSTDATE_MM_12
39758,0.166667,0.0,0.000000,0.010101,0.424242,0.245902,0.030303,0.717172,0.000000,0.046512,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50678,0.666667,1.0,0.000000,0.010101,0.171717,0.163934,0.101010,0.777778,0.252525,0.023256,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7358,0.500000,0.0,0.000000,0.000000,0.474747,0.245902,0.000000,0.616162,0.010101,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54531,0.500000,1.0,0.173913,0.000000,0.404040,0.245902,0.000000,0.373737,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
60684,0.166667,0.0,0.000000,0.030303,0.363636,0.229508,0.090909,0.494949,0.000000,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4052,0.666667,0.0,0.000000,0.101010,0.222222,0.163934,0.333333,0.666667,0.020202,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
50463,1.000000,1.0,0.000000,0.000000,0.222222,0.213115,0.000000,0.404040,0.020202,0.162791,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32783,0.833333,1.0,0.021739,0.000000,0.484848,0.278689,0.000000,0.393939,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15589,0.666667,1.0,0.000000,0.000000,0.575758,0.295082,0.000000,0.484848,0.000000,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40079,0.166667,1.0,0.000000,0.010101,0.424242,0.245902,0.010101,0.363636,0.010101,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
X_test_rfe

,INCOME,POP90C1,ETH10,DW3,HHD1,RHP3,HUPA1,MC1,TPE3,OCC6,...,FIRSTDATE_MM_3,FIRSTDATE_MM_4,FIRSTDATE_MM_5,FIRSTDATE_MM_6,FIRSTDATE_MM_7,FIRSTDATE_MM_8,FIRSTDATE_MM_9,FIRSTDATE_MM_10,FIRSTDATE_MM_11,FIRSTDATE_MM_12
0,0.500000,1.000000,0.021739,0.000000,0.222222,0.229508,0.000000,0.282828,0.161616,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.500000,1.000000,0.000000,0.020202,0.050505,0.163934,0.191919,0.393939,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.000000,0.000000,0.000000,0.010101,0.565657,0.311475,0.010101,0.353535,0.010101,0.023256,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.666667,0.808081,0.000000,0.010101,0.515152,0.262295,0.030303,0.454545,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.666667,0.000000,0.000000,0.030303,0.383838,0.229508,0.060606,0.474747,0.000000,0.023256,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23848,0.333333,0.000000,0.000000,0.020202,0.323232,0.213115,0.020202,0.444444,0.040404,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
23849,1.000000,0.020202,0.000000,0.000000,0.575758,0.295082,0.000000,0.595960,0.050505,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23850,0.666667,1.000000,0.000000,0.020202,0.464646,0.245902,0.131313,0.717172,0.010101,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
23851,0.166667,0.000000,0.000000,0.000000,0.404040,0.245902,0.000000,0.323232,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23852,0.666667,1.000000,0.000000,0.010101,0.060606,0.163934,0.070707,0.393939,0.010101,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

##### Rebuild RandomForest Model

In [94]:
clf = RandomForestClassifier(max_depth=5, # max number of questions to ask
                             min_samples_split=20, # amount of rows still considered at every question
                             min_samples_leaf =20) # ultimate answer based on at least this many rows
clf.fit(X_train_rfe, y_train)
print(clf.score(X_train_rfe, y_train))
print(clf.score(X_test_rfe, y_test))

y_pred = clf.predict(X_test_rfe)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.6040830134286429
0.6020207101832055

0    22580
1     1273
Name: TARGET_B, dtype: int64

array([[13641,  8939],
       [  554,   719]], dtype=int64)

In [95]:
# For cross validation
clf = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
cross_val_scores = cross_val_score(clf, X_train_rfe, y_train, cv=5)
print(np.mean(cross_val_scores))

0.6000823837125394

In [96]:
#Did not improve the model. Next try: Just use the selected 14 numerical features without the categorical ones
X_train_rfe_num = X_train[num_list]
X_test_rfe_num = X_test[num_list]

In [97]:
clf = RandomForestClassifier(max_depth=5, # max number of questions to ask
                             min_samples_split=20, # amount of rows still considered at every question
                             min_samples_leaf =20) # ultimate answer based on at least this many rows
clf.fit(X_train_rfe_num, y_train)
print(clf.score(X_train_rfe_num, y_train))
print(clf.score(X_test_rfe_num, y_test))

y_pred = clf.predict(X_test_rfe_num)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.596044948447543
0.6252043768079487

0    22580
1     1273
Name: TARGET_B, dtype: int64

array([[14240,  8340],
       [  600,   673]], dtype=int64)

In [100]:
y_train.value_counts()

0    67989
1    67989
Name: TARGET_B, dtype: int64

In [98]:
# For cross validation
clf = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
cross_val_scores = cross_val_score(clf, X_train_rfe_num, y_train, cv=5)
print(np.mean(cross_val_scores))

0.5933680904535862

In [99]:
#No improvement by just using the 14 numericals selected with RFE as features.

##### Next try: KBest

In [106]:
X = pd.concat([X_train_num_scaled, X_test_num_scaled], axis = 0)
X = X.drop(['TARGET_D'], axis = 1)
y = target['TARGET_B']

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

model = SelectKBest(chi2, k=20).fit(X, y)
df = pd.DataFrame(data = model.scores_, columns = ['score'])
df['Column'] = X.columns
# Sorting data
print(df.sort_values(by = ['score'], ascending = False).head(10))

ValueError: Input X must be non-negative.

In [107]:
X

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0.000014,0.896907,0.166667,0.777778,0.004149,0.010101,0.444444,0.090909,0.626263,0.040404,...,0.146341,0.006,0.002002,0.015,0.002757,0.008760,0.016858,1.0,0.666667,0.836066
1,0.000000,0.917526,0.000000,0.222222,0.004149,0.020202,0.272727,0.313131,0.545455,0.202020,...,0.048780,0.030,0.002402,0.017,0.008272,0.015534,0.191220,0.0,0.333333,0.409836
2,0.000028,0.639175,0.500000,0.555556,0.004149,0.010101,0.262626,0.242424,0.404040,0.040404,...,0.097561,0.006,0.002002,0.015,0.007353,0.008261,0.101703,1.0,0.666667,0.524590
3,0.000000,0.624862,0.666667,1.000000,0.000000,0.000000,0.313131,0.212121,0.565657,0.070707,...,0.048780,0.040,0.003003,0.020,0.006434,0.019757,0.265370,0.0,0.333333,0.606557
4,0.000014,0.340206,0.166667,1.000000,0.000000,0.010101,0.232323,0.141414,0.484848,0.030303,...,0.024390,0.080,0.019019,0.040,0.031250,0.072544,0.075297,1.0,0.000000,0.213115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23848,0.000000,0.731959,0.333333,1.000000,0.000000,0.000000,0.323232,0.393939,0.222222,0.131313,...,0.268293,0.004,0.001401,0.009,0.006434,0.004604,0.718074,0.0,0.666667,0.918033
23849,0.000014,0.484536,1.000000,1.000000,0.000000,0.000000,0.202020,0.414141,0.272727,0.040404,...,0.121951,0.010,0.002002,0.015,0.014706,0.008261,0.602871,1.0,0.000000,0.213115
23850,0.000000,0.624862,0.666667,1.000000,0.000000,0.040404,0.333333,0.494949,0.111111,0.111111,...,0.170732,0.006,0.001401,0.012,0.001838,0.007863,0.858078,0.0,0.333333,0.540984
23851,0.000000,0.752577,0.166667,1.000000,0.000000,0.000000,0.373737,0.252525,0.353535,0.030303,...,0.073171,0.020,0.002002,0.015,0.001838,0.012789,0.531881,1.0,0.666667,0.655738
23852,0.000014,0.360825,0.666667,1.000000,0.000000,0.000000,0.383838,0.121212,0.737374,0.040404,...,0.000000,0.030,0.002002,0.015,0.008272,0.014479,0.194119,0.0,0.000000,0.786885

In [110]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X = pd.concat([X_train_num_scaled, X_test_num_scaled], axis = 0)
X = X.drop(['TARGET_D'], axis = 1)
y = target['TARGET_B']

kbest = SelectKBest(chi2, k=10).fit_transform(X, y)
kbest
# Here we choose 10 so that is easier to analyze results later, as we will see
selected = pd.DataFrame(kbest)
selected.head()

ValueError: Input X must be non-negative.

##### to be continued