In [76]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

#### import the data

In [77]:
numerical = pd.read_csv('./files_for_lab/numerical.csv')
categorical = pd.read_csv('./files_for_lab/categorical.csv')
target = pd.read_csv('./files_for_lab/target.csv')

In [78]:
numerical

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0,60.000000,5,9,0,0,39,34,18,10,...,14,5.0,12.0,10.0,4,7.741935,95515,0,4,39
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,10.0,25.0,25.0,18,15.666667,148535,0,2,1
2,1,61.611649,3,1,2,0,20,29,33,6,...,14,2.0,16.0,5.0,12,7.481481,15078,1,4,60
3,0,70.000000,1,4,2,0,23,14,31,3,...,7,2.0,11.0,10.0,9,6.812500,172556,1,4,41
4,0,78.000000,3,2,60,1,28,9,53,26,...,8,3.0,15.0,15.0,14,6.864865,7112,1,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,25.0,25.0,25.0,9,25.000000,184568,0,1,12
95408,1,48.000000,7,9,1,0,31,43,19,4,...,0,20.0,20.0,20.0,9,20.000000,122706,1,1,2
95409,1,60.000000,5,9,0,0,18,46,20,7,...,4,3.0,10.0,10.0,3,8.285714,189641,1,3,34
95410,0,58.000000,7,9,0,0,28,35,20,9,...,18,5.0,21.0,18.0,4,12.146341,4693,1,4,11
95411,2,80.000000,5,8,3,1,33,22,27,8,...,11,10.0,201.0,100.0,6,96.794872,185114,1,1,12

In [79]:
categorical

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [80]:
categorical.dtypes

STATE           object
CLUSTER          int64
HOMEOWNR        object
GENDER          object
DATASRCE         int64
RFA_2R          object
RFA_2A          object
GEOCODE2        object
DOMAIN_A        object
DOMAIN_B         int64
ODATEW_YR        int64
ODATEW_MM        int64
DOB_YR           int64
DOB_MM           int64
MINRDATE_YR      int64
MINRDATE_MM      int64
MAXRDATE_YR      int64
MAXRDATE_MM      int64
LASTDATE_YR      int64
LASTDATE_MM      int64
FIRSTDATE_YR     int64
FIRSTDATE_MM     int64
dtype: object

In [81]:
categorical = categorical.astype(object)

In [82]:
categorical.dtypes

STATE           object
CLUSTER         object
HOMEOWNR        object
GENDER          object
DATASRCE        object
RFA_2R          object
RFA_2A          object
GEOCODE2        object
DOMAIN_A        object
DOMAIN_B        object
ODATEW_YR       object
ODATEW_MM       object
DOB_YR          object
DOB_MM          object
MINRDATE_YR     object
MINRDATE_MM     object
MAXRDATE_YR     object
MAXRDATE_MM     object
LASTDATE_YR     object
LASTDATE_MM     object
FIRSTDATE_YR    object
FIRSTDATE_MM    object
dtype: object

In [83]:
target

       TARGET_B  TARGET_D
0             0       0.0
1             0       0.0
2             0       0.0
3             0       0.0
4             0       0.0
...         ...       ...
95407         0       0.0
95408         0       0.0
95409         0       0.0
95410         1      18.0
95411         0       0.0

[95412 rows x 2 columns]

#### Apply the Random Forests algorithm but this time only by upscaling the data.

##### first do the train test split

In [84]:
all_data = pd.concat([numerical, categorical, target], axis=1)

In [85]:
X = all_data.drop(['TARGET_B'], axis = 1)
y = all_data['TARGET_B']

In [86]:
X

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_D
0,0,60.000000,5,9,0,0,39,34,18,10,...,12,92,8,94,2,95,12,89,11,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,2,93,10,95,12,95,12,93,10,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,2,91,11,92,7,95,12,90,1,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,1,87,11,94,11,95,12,87,2,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,1,93,10,96,1,96,1,79,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,2,96,2,96,2,96,2,96,2,0.0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,1,96,3,96,3,96,3,96,3,0.0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,1,96,3,95,1,96,10,94,10,0.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,5,90,11,96,8,97,1,86,12,18.0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,1,88,12,93,12,96,12,88,3,0.0

In [87]:
y

0        0
1        0
2        0
3        0
4        0
        ..
95407    0
95408    0
95409    0
95410    1
95411    0
Name: TARGET_B, Length: 95412, dtype: int64

In [88]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [89]:
X_train_num = X_train.select_dtypes(np.number)
X_test_num = X_test.select_dtypes(np.number)
X_train_cat = X_train.select_dtypes(object)
X_test_cat = X_test.select_dtypes(object)

##### Scale and OneHot Encode the data

In [90]:
#Usage of MinMax Scaler
scaler = MinMaxScaler().fit(X_train_num)

In [91]:
X_train_num_scaled = scaler.transform(X_train_num)
X_test_num_scaled = scaler.transform(X_test_num)

In [92]:
X_train_num_scaled = pd.DataFrame(X_train_num_scaled, columns=list(X_train_num.columns))
X_test_num_scaled = pd.DataFrame(X_test_num_scaled, columns=list(X_test_num.columns))

In [93]:
#Usage of One-Hot Encoding
encoder = OneHotEncoder(drop='first', handle_unknown = 'ignore').fit(X_train_cat)
all_columns = encoder.get_feature_names_out(input_features=X_train_cat.columns)
X_train_cat_encode = pd.DataFrame(encoder.transform(X_train_cat).toarray(), columns=all_columns)
X_test_cat_encode = pd.DataFrame(encoder.transform(X_test_cat).toarray(), columns=all_columns)

C:\Users\lisab\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:170: UserWarning: Found unknown categories in columns [10, 12, 14, 20] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [94]:
X_train = pd.concat((X_train_num_scaled,X_train_cat_encode),axis=1)
X_test = pd.concat((X_test_num_scaled,X_test_cat_encode),axis=1)

In [95]:
y_train = y_train.reset_index(drop=True) 
y_test = y_test.reset_index(drop=True)

##### Oversampling the train data

In [96]:
trainset = pd.concat([X_train, y_train], axis=1)

In [97]:
# separate majority/minority classes
category_0 = trainset[trainset['TARGET_B'] == 0]
category_1 = trainset[trainset['TARGET_B'] == 1]

In [98]:
from sklearn.utils import resample
category_1_oversampled = resample(category_1, 
                                    replace=True,            
                                    n_samples = len(category_0))

In [99]:
print(category_1_oversampled.shape)
print(category_0.shape)

(67909, 628)
(67909, 628)

In [100]:
train_oversampled = pd.concat([category_1_oversampled, category_0], axis=0)

In [101]:
trainset_new = train_oversampled.sample(frac =1)

In [102]:
X_train = trainset_new.drop(['TARGET_B'], axis=1)
y_train = trainset_new['TARGET_B']
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

y_train_regression = X_train['TARGET_D']
y_test_regression = X_test['TARGET_D']

# Now we can remove the column target d from the set of features
X_train = X_train.drop(['TARGET_D'], axis = 1)
X_test = X_test.drop(['TARGET_D'], axis = 1)

In [103]:
clf = RandomForestClassifier(max_depth=5, # max number of questions to ask
                             min_samples_split=20, # amount of rows still considered at every question
                             min_samples_leaf =20, # ultimate answer based on at least this many rows
                             max_samples=0.2) # fraction of X-train to use in each tree
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

y_pred = clf.predict(X_test)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.620830817711938
0.5971995136880057

0    22660
1     1193
Name: TARGET_B, dtype: int64

array([[13571,  9089],
       [  519,   674]], dtype=int64)

In [104]:
# For cross validation
clf = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
cross_val_scores = cross_val_score(clf, X_train, y_train, cv=5)
print(np.mean(cross_val_scores))

0.621346229238211

In [105]:
cross_val_scores

array([0.61894419, 0.61783979, 0.62509203, 0.62246438, 0.62239075])

#### Use Feature Selections that you have learned in class to decide if you want to use all of the features (Variance Threshold, RFE, PCA, etc.)

##### First try: RFE

In [106]:
X_RFE = numerical
y_RFE = target['TARGET_B']

from sklearn.feature_selection import RFE
from sklearn import linear_model
lm = linear_model.LinearRegression()
rfe = RFE(lm, n_features_to_select=25, verbose=False)
rfe.fit(X_RFE, y_RFE)

RFE(estimator=LinearRegression(), n_features_to_select=25, verbose=False)

In [107]:
# After we run the algorithm, it labels the top features as 1 and the rest are marked in an increasing order of importance.
df = pd.DataFrame(data = rfe.ranking_, columns=['Rank'])
df['Column_name'] = pd.DataFrame(numerical).columns
df[df['Rank']==1]
#df['Rank'].value_counts()

     Rank Column_name
2       1      INCOME
16      1     POP90C1
17      1     POP90C2
18      1     POP90C3
30      1       ETH10
76      1         DW3
77      1         DW4
78      1         DW5
92      1        HHD1
99      1        HHD8
120     1        RHP3
121     1        RHP4
122     1       HUPA1
123     1       HUPA2
163     1         MC1
164     1         MC2
168     1        TPE3
169     1        TPE4
170     1        TPE5
171     1        TPE6
196     1        OCC6
288     1        HC15
305     1    CARDGIFT
312     1    HPHONE_D
313     1      RFA_2F

In [108]:
# For building a new model, I just use these numerical columns + my categorical ones:
num_list = ['INCOME', 'POP90C1', 'ETH10', 'DW3', 'HHD1', 'RHP3', 'HUPA1', 'MC1', 'TPE3', 'OCC6', 'HC15', 'CARDGIFT', 'HPHONE_D'
           , 'RFA_2F']

In [109]:
X_train_rfe = X_train[num_list]
display(X_train_rfe)

,INCOME,POP90C1,ETH10,DW3,HHD1,RHP3,HUPA1,MC1,TPE3,OCC6,HC15,CARDGIFT,HPHONE_D,RFA_2F
39512,0.500000,1.000000,0.000000,0.128571,0.393939,0.245902,0.161616,0.656566,0.000000,0.0,0.0,0.055556,1.0,0.000000
6768,0.666667,0.000000,0.000000,0.000000,0.414141,0.245902,0.010101,0.393939,0.000000,0.0,0.0,0.194444,1.0,1.000000
40601,0.666667,0.000000,0.000000,0.100000,0.393939,0.229508,0.070707,0.353535,0.040404,0.0,0.0,0.111111,0.0,0.000000
36662,0.666667,0.181818,0.000000,0.000000,0.272727,0.213115,0.404040,0.818182,0.000000,0.0,0.0,0.388889,1.0,1.000000
66238,0.666667,1.000000,0.000000,0.000000,0.424242,0.262295,0.000000,0.353535,0.000000,0.0,0.0,0.111111,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45529,0.833333,1.000000,0.021739,0.000000,0.484848,0.262295,0.000000,0.828283,0.010101,0.0,0.0,0.027778,0.0,0.000000
38875,0.833333,0.000000,0.000000,0.085714,0.424242,0.229508,0.232323,0.444444,0.010101,0.0,0.0,0.166667,0.0,1.000000
37652,0.166667,1.000000,0.000000,0.000000,0.414141,0.245902,0.000000,0.232323,0.161616,0.0,0.0,0.055556,0.0,0.000000
20396,0.833333,1.000000,0.000000,0.000000,0.080808,0.163934,0.020202,0.686869,0.050505,0.0,0.0,0.027778,0.0,0.666667
66490,0.833333,1.000000,0.000000,0.000000,0.252525,0.196721,0.252525,0.626263,0.020202,0.0,0.0,0.083333,1.0,1.000000

In [110]:
X_test_rfe = X_test[num_list]
display(X_test_rfe)

,INCOME,POP90C1,ETH10,DW3,HHD1,RHP3,HUPA1,MC1,TPE3,OCC6,HC15,CARDGIFT,HPHONE_D,RFA_2F
0,0.000000,0.000000,0.000000,0.000000,0.383838,0.229508,0.010101,0.313131,0.000000,0.000000,0.0,0.000000,1.0,0.000000
1,0.666667,0.000000,0.021739,0.171429,0.494949,0.262295,0.272727,0.676768,0.010101,0.000000,0.0,0.027778,0.0,0.333333
2,0.666667,0.000000,0.000000,0.085714,0.272727,0.213115,0.181818,0.616162,0.000000,0.023256,0.0,0.277778,0.0,0.000000
3,0.166667,0.000000,0.000000,0.042857,0.343434,0.229508,0.050505,0.707071,0.000000,0.023256,0.0,0.027778,0.0,0.000000
4,0.000000,1.000000,0.021739,0.000000,0.252525,0.213115,0.070707,0.646465,0.000000,0.000000,0.0,0.138889,0.0,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23848,0.500000,1.000000,0.021739,0.000000,0.242424,0.229508,0.000000,0.313131,0.040404,0.000000,0.0,0.138889,1.0,0.666667
23849,0.666667,0.000000,0.000000,0.014286,0.292929,0.213115,0.050505,0.626263,0.020202,0.000000,0.0,0.194444,0.0,0.333333
23850,0.833333,0.000000,0.000000,0.000000,0.434343,0.245902,0.050505,0.494949,0.000000,0.000000,0.0,0.166667,1.0,0.666667
23851,0.666667,0.181818,0.000000,0.014286,0.585859,0.344262,0.151515,0.707071,0.030303,0.000000,0.0,0.027778,0.0,0.000000
23852,0.166667,0.000000,0.021739,0.071429,0.424242,0.229508,0.070707,0.494949,0.000000,0.000000,0.0,0.111111,1.0,1.000000

In [111]:
#Append categorical columns
X_train_rfe = pd.concat([X_train_rfe, X_train_cat_encode], axis = 1)
X_test_rfe = pd.concat([X_test_rfe, X_test_cat_encode], axis = 1)

In [112]:
X_train_rfe

,INCOME,POP90C1,ETH10,DW3,HHD1,RHP3,HUPA1,MC1,TPE3,OCC6,...,FIRSTDATE_MM_3,FIRSTDATE_MM_4,FIRSTDATE_MM_5,FIRSTDATE_MM_6,FIRSTDATE_MM_7,FIRSTDATE_MM_8,FIRSTDATE_MM_9,FIRSTDATE_MM_10,FIRSTDATE_MM_11,FIRSTDATE_MM_12
39512,0.500000,1.000000,0.000000,0.128571,0.393939,0.245902,0.161616,0.656566,0.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6768,0.666667,0.000000,0.000000,0.000000,0.414141,0.245902,0.010101,0.393939,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40601,0.666667,0.000000,0.000000,0.100000,0.393939,0.229508,0.070707,0.353535,0.040404,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36662,0.666667,0.181818,0.000000,0.000000,0.272727,0.213115,0.404040,0.818182,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66238,0.666667,1.000000,0.000000,0.000000,0.424242,0.262295,0.000000,0.353535,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45529,0.833333,1.000000,0.021739,0.000000,0.484848,0.262295,0.000000,0.828283,0.010101,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38875,0.833333,0.000000,0.000000,0.085714,0.424242,0.229508,0.232323,0.444444,0.010101,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
37652,0.166667,1.000000,0.000000,0.000000,0.414141,0.245902,0.000000,0.232323,0.161616,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20396,0.833333,1.000000,0.000000,0.000000,0.080808,0.163934,0.020202,0.686869,0.050505,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
66490,0.833333,1.000000,0.000000,0.000000,0.252525,0.196721,0.252525,0.626263,0.020202,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
X_test_rfe

,INCOME,POP90C1,ETH10,DW3,HHD1,RHP3,HUPA1,MC1,TPE3,OCC6,...,FIRSTDATE_MM_3,FIRSTDATE_MM_4,FIRSTDATE_MM_5,FIRSTDATE_MM_6,FIRSTDATE_MM_7,FIRSTDATE_MM_8,FIRSTDATE_MM_9,FIRSTDATE_MM_10,FIRSTDATE_MM_11,FIRSTDATE_MM_12
0,0.833333,1.000000,0.000000,0.000000,0.414141,0.262295,0.000000,0.252525,0.010101,0.069767,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.166667,1.000000,0.000000,0.131313,0.151515,0.163934,0.242424,0.717172,0.414141,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.500000,0.080808,0.000000,0.020202,0.414141,0.245902,0.090909,0.505051,0.000000,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,1.000000,0.000000,0.010101,0.414141,0.245902,0.222222,0.535354,0.020202,0.023256,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.000000,1.000000,0.000000,0.000000,0.323232,0.213115,0.000000,0.454545,0.000000,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23848,0.666667,1.000000,0.000000,0.000000,0.101010,0.229508,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
23849,0.500000,0.000000,0.000000,0.000000,0.363636,0.213115,0.020202,0.555556,0.020202,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
23850,0.666667,1.000000,0.026316,0.151515,0.202020,0.213115,0.353535,0.383838,0.303030,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
23851,0.000000,1.000000,0.000000,0.080808,0.363636,0.213115,0.141414,0.474747,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
23852,0.666667,0.000000,0.026316,0.010101,0.373737,0.229508,0.010101,0.525253,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### Rebuild RandomForest Model

In [113]:
clf_RFE = RandomForestClassifier(max_depth=5, # max number of questions to ask
                             min_samples_split=20, # amount of rows still considered at every question
                             min_samples_leaf =20) # ultimate answer based on at least this many rows
clf_RFE.fit(X_train_rfe, y_train)
print(clf_RFE.score(X_train_rfe, y_train))
print(clf_RFE.score(X_test_rfe, y_test))
y_pred = clf_RFE.predict(X_test_rfe)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.6024827342473016
0.5844547855615646

0    22660
1     1193
Name: TARGET_B, dtype: int64

array([[13246,  9414],
       [  498,   695]], dtype=int64)

In [114]:
# For cross validation
clf_RFE = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
cross_val_scores = cross_val_score(clf_RFE, X_train_rfe, y_train, cv=5)
print(np.mean(cross_val_scores))

0.6000383177886596

In [115]:
#Did not improve the model. Next try: Just use the selected 14 numerical features without the categorical ones
X_train_rfe_num = X_train[num_list]
X_test_rfe_num = X_test[num_list]

In [116]:
clf_RFE_num = RandomForestClassifier(max_depth=5, # max number of questions to ask
                             min_samples_split=20, # amount of rows still considered at every question
                             min_samples_leaf =20) # ultimate answer based on at least this many rows
clf_RFE_num.fit(X_train_rfe_num, y_train)
print(clf_RFE_num.score(X_train_rfe_num, y_train))
print(clf_RFE_num.score(X_test_rfe_num, y_test))

y_pred = clf_RFE_num.predict(X_test_rfe_num)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.596739754671693
0.6220601182241228

0    22660
1     1193
Name: TARGET_B, dtype: int64

array([[14198,  8462],
       [  553,   640]], dtype=int64)

In [117]:
y_train.value_counts()

0    67909
1    67909
Name: TARGET_B, dtype: int64

In [44]:
# For cross validation
clf = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
cross_val_scores = cross_val_score(clf, X_train_rfe_num, y_train, cv=5)
print(np.mean(cross_val_scores))

0.5970203060623895

In [45]:
#No improvement by just using the 14 numericals selected with RFE as features.

##### Next try: KBest

In [46]:
X = numerical
y = target['TARGET_B']

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

model = SelectKBest(chi2, k=20).fit(X, y)
df = pd.DataFrame(data = model.scores_, columns = ['score'])
df['Column'] = X.columns
# Sorting data
print(df.sort_values(by = ['score'], ascending = False).head(20))

             score    Column
311  527716.426176  CONTROLN
140  187983.976667       IC5
83    49855.611718       HV1
84    49561.067003       HV2
0     39087.069814     TCODE
133   26891.429352       MSA
13    17167.230879    POP901
137    2921.367106       IC2
14     2811.233301    POP902
303    2756.199364  RAMNTALL
139    2751.447661       IC4
110    2620.983688      HVP1
111    2549.991693      HVP2
136    2448.754088       IC1
138    2415.716681       IC3
15     2166.139007    POP903
112    2132.962948      HVP3
115    1906.878033      HVP6
304    1883.560588  NGIFTALL
113    1472.531558      HVP4

In [47]:
numerical_selected_list = ['CONTROLN', 'IC5', 'HV1', 'TCODE', 'MSA', 'POP901', 'RAMNTALL', 'HVP1', 'NGIFTALL']

In [48]:
numerical_kbest = numerical[numerical_selected_list].copy()

In [49]:
numerical_kbest

       CONTROLN    IC5   HV1  TCODE     MSA  POP901  RAMNTALL  HVP1  NGIFTALL
0         95515  12883   479      0     0.0     992     240.0     2        31
1        148535  36175  5468      1  4480.0    3611      47.0    97         3
2         15078  11576   497      1     0.0    7001     202.0     0        27
3        172556  15130  1000      0  9340.0     640     109.0    10        16
4          7112   9836   576      0  5000.0    2520     254.0     0        37
...         ...    ...   ...    ...     ...     ...       ...   ...       ...
95407    184568  18807   988      1   380.0   27380      25.0     2         1
95408    122706  26538  1679      1  3360.0    1254      20.0    18         1
95409    189641  12178   376      1  4040.0     552      58.0     0         7
95410      4693  15948  2421      0  8735.0    1746     498.0    89        41
95411    185114  16699   938      2  9200.0    3935    3775.0     3        39

[95412 rows x 9 columns]

In [50]:
all_data_kbest = pd.concat([numerical_kbest, target], axis=1)

In [51]:
all_data_kbest

,CONTROLN,IC5,HV1,TCODE,MSA,POP901,RAMNTALL,HVP1,NGIFTALL,TARGET_B,TARGET_D
0,95515,12883,479,0,0.0,992,240.0,2,31,0,0.0
1,148535,36175,5468,1,4480.0,3611,47.0,97,3,0,0.0
2,15078,11576,497,1,0.0,7001,202.0,0,27,0,0.0
3,172556,15130,1000,0,9340.0,640,109.0,10,16,0,0.0
4,7112,9836,576,0,5000.0,2520,254.0,0,37,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
95407,184568,18807,988,1,380.0,27380,25.0,2,1,0,0.0
95408,122706,26538,1679,1,3360.0,1254,20.0,18,1,0,0.0
95409,189641,12178,376,1,4040.0,552,58.0,0,7,0,0.0
95410,4693,15948,2421,0,8735.0,1746,498.0,89,41,1,18.0
95411,185114,16699,938,2,9200.0,3935,3775.0,3,39,0,0.0

In [52]:
X_kbest = all_data_kbest.drop(['TARGET_B'], axis = 1)
y_kbest = all_data_kbest['TARGET_B']

X_train, X_test, y_train, y_test = train_test_split(X_kbest, y_kbest, test_size=0.25)

#Usage of MinMax Scaler
scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled = pd.DataFrame(X_train_scaled, columns=list(X_train.columns))
X_test_scaled = pd.DataFrame(X_test_scaled, columns=list(X_test.columns))

y_train = y_train.reset_index(drop=True) 
y_test = y_test.reset_index(drop=True) 

trainset = pd.concat([X_train_scaled, y_train], axis=1)

# separate majority/minority classes
category_0 = trainset[trainset['TARGET_B'] == 0]
category_1 = trainset[trainset['TARGET_B'] == 1]

from sklearn.utils import resample
category_1_oversampled = resample(category_1, 
                                    replace=True,            
                                    n_samples = len(category_0))  

train_oversampled = pd.concat([category_1_oversampled, category_0], axis=0)

trainset_new = train_oversampled.sample(frac =1)

In [53]:
print(category_0.shape)
print(category_1.shape)
print(category_1_oversampled.shape)
print(train_oversampled.shape)
print(trainset_new.shape)

(67925, 11)
(3634, 11)
(67925, 11)
(135850, 11)
(135850, 11)

In [54]:
X_train = trainset_new.drop(['TARGET_B'], axis=1)
y_train = trainset_new['TARGET_B'].reset_index()
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

y_train_regression = X_train['TARGET_D']
y_test_regression = X_test['TARGET_D']

# Now we can remove the column target d from the set of features
X_train = X_train.drop(['TARGET_D'], axis = 1).reset_index()
X_test = X_test.drop(['TARGET_D'], axis = 1).reset_index()

In [55]:
X_test

,index,CONTROLN,IC5,HV1,TCODE,MSA,POP901,RAMNTALL,HVP1,NGIFTALL
0,71271,119272,21160,563,2,2800.0,1317,215.0,0,7
1,84900,67545,21108,1037,1,2160.0,1007,163.0,0,17
2,22035,125551,33109,1262,0,7240.0,1108,102.0,3,23
3,8706,49148,9076,379,2,0.0,3585,128.0,0,20
4,42139,158727,22289,3119,1,8735.0,4018,26.0,89,3
...,...,...,...,...,...,...,...,...,...,...
23848,54831,80512,16972,728,1,3080.0,6678,30.0,3,2
23849,6211,33283,17430,1042,1,3600.0,4132,35.0,4,2
23850,86138,157345,18918,2326,1,5945.0,2857,142.0,74,13
23851,42350,74130,12567,738,1,0.0,883,42.0,3,3
23852,41899,85740,0,0,0,0.0,0,111.0,0,13

In [56]:
y_test

0        0
1        0
2        0
3        0
4        0
        ..
23848    0
23849    0
23850    0
23851    0
23852    0
Name: TARGET_B, Length: 23853, dtype: int64

In [58]:
clf_kbest = RandomForestClassifier(max_depth=5, # max number of questions to ask
                             min_samples_split=20, # amount of rows still considered at every question
                             min_samples_leaf =20) # ultimate answer based on at least this many rows
                                                    # fraction of X-train to use in each tree
clf_kbest.fit(X_train, y_train)
print(clf_kbest.score(X_train, y_train))
print(clf_kbest.score(X_test, y_test))

y_pred = clf_kbest.predict(X_test)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

KeyboardInterrupt:

In [ ]:
# For cross validation
clf_kbest = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
cross_val_scores = cross_val_score(clf_kbest, X_train, y_train, cv=5)
print(np.mean(cross_val_scores))

##### to be continued

### Lab Final Regression Model

In [59]:
donated = all_data[all_data['TARGET_B'] == 1]

In [60]:
donated

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D
20,2,62.000000,3,8,10,2,25,40,27,11,...,88,1,94,4,96,3,87,1,1,4.0
30,0,61.611649,5,9,0,1,37,58,16,8,...,90,4,93,1,95,12,90,4,1,7.0
45,0,66.000000,5,9,5,0,33,24,39,6,...,93,12,94,4,96,2,87,4,1,5.0
78,0,69.000000,6,9,0,0,34,20,54,2,...,90,1,95,3,95,11,90,1,1,13.0
93,1,73.000000,1,7,10,0,21,53,8,5,...,92,9,95,9,95,9,92,9,1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95298,2,45.000000,5,9,0,0,45,28,37,9,...,89,6,96,1,96,1,86,8,1,20.0
95309,0,51.000000,5,6,1,1,32,43,24,7,...,93,10,94,2,95,12,93,10,1,15.0
95398,0,86.000000,5,9,0,1,32,21,26,9,...,89,6,95,11,96,2,87,11,1,3.0
95403,0,58.000000,4,9,0,0,24,46,20,6,...,90,3,93,12,96,1,90,3,1,10.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,90,11,96,8,97,1,86,12,1,18.0

In [61]:
donated_numerical = donated.select_dtypes(np.number)
donated_cat = donated.select_dtypes(object)

In [64]:
donated_numerical = donated_numerical.drop(['TARGET_B', 'TARGET_D'], axis = 1)
donated_numerical

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
20,2,62.000000,3,8,10,2,25,40,27,11,...,10,2.00,7.0,5.0,12,4.066667,82943,1,3,3
30,0,61.611649,5,9,0,1,37,58,16,8,...,6,2.00,10.0,7.0,9,6.181818,190313,1,3,14
45,0,66.000000,5,9,5,0,33,24,39,6,...,14,3.00,6.0,5.0,3,4.857143,76585,1,3,11
78,0,69.000000,6,9,0,0,34,20,54,2,...,5,5.00,17.0,10.0,21,11.000000,156378,0,2,2
93,1,73.000000,1,7,10,0,21,53,8,5,...,8,5.00,12.0,12.0,6,9.400000,25641,1,3,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95298,2,45.000000,5,9,0,0,45,28,37,9,...,16,0.07,17.0,17.0,7,7.935667,154544,0,1,52
95309,0,51.000000,5,6,1,1,32,43,24,7,...,2,5.00,15.0,15.0,4,11.666667,171302,1,1,20
95398,0,86.000000,5,9,0,1,32,21,26,9,...,4,5.00,25.0,20.0,15,14.400000,78831,0,3,3
95403,0,58.000000,4,9,0,0,24,46,20,6,...,6,3.00,20.0,20.0,10,11.583333,84678,0,1,56
95410,0,58.000000,7,9,0,0,28,35,20,9,...,18,5.00,21.0,18.0,4,12.146341,4693,1,4,11

In [63]:
donated_cat

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
20,other,12,H,F,3,L,D,A,S,1,...,36,1,88,1,94,4,96,3,87,1
30,TX,35,H,M,3,L,D,A,T,1,...,0,2,90,4,93,1,95,12,90,4
45,other,24,H,F,3,L,D,C,C,1,...,31,10,93,12,94,4,96,2,87,4
78,CA,13,H,F,2,L,F,A,S,1,...,28,7,90,1,95,3,95,11,90,1
93,GA,18,H,M,3,L,E,A,S,2,...,24,10,92,9,95,9,95,9,92,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95298,CA,36,H,F,3,L,F,A,T,2,...,53,4,89,6,96,1,96,1,86,8
95309,CA,12,H,F,3,L,F,B,S,1,...,47,1,93,10,94,2,95,12,93,10
95398,WI,11,H,F,3,L,G,B,S,1,...,11,10,89,6,95,11,96,2,87,11
95403,other,49,H,F,2,L,F,D,R,2,...,40,1,90,3,93,12,96,1,90,3
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12

#### Apply RFE for feature selection for numericals

In [65]:
X = donated_numerical
y = donated['TARGET_D']

from sklearn.feature_selection import RFE
from sklearn import linear_model
lm = linear_model.LinearRegression()
rfe = RFE(lm, n_features_to_select=25, verbose=False)
rfe.fit(X, y)

RFE(estimator=LinearRegression(), n_features_to_select=25, verbose=False)

In [66]:
# After we run the algorithm, it labels the top features as 1 and the rest are marked in an increasing order of importance.
df = pd.DataFrame(data = rfe.ranking_, columns=['Rank'])
df['Column_name'] = pd.DataFrame(donated_numerical).columns
df[df['Rank']<26]
#df['Rank'].value_counts()

     Rank Column_name
16      1     POP90C1
17      1     POP90C2
18      1     POP90C3
19     24     POP90C4
20     23     POP90C5
21      1        ETH1
22      1        ETH2
25      1        ETH5
33      1       ETH13
34      1       ETH14
35      1       ETH15
36      1       ETH16
63     11        HHN2
64     12        HHN3
80      9         DW7
81      8         DW8
82      7         DW9
87     17         HU1
88      5         HU2
92      1        HHD1
93     10        HHD2
94     20        HHD3
95      1        HHD4
97     25        HHD6
98      1        HHD7
99     15        HHD8
100    16        HHD9
101    18       HHD10
102    19       HHD11
103    13       HHD12
104     1       ETHC1
105     1       ETHC2
106     1       ETHC3
107     1       ETHC4
108     1       ETHC5
109     1       ETHC6
125     6       HUPA4
126     4       HUPA5
127     3       HUPA6
128     2       HUPA7
163     1         MC1
164     1         MC2
172    21        TPE7
264    14       ANC15
288    22        HC15
306     1    MINRAMNT
308     1    LASTGIFT
310     1     AVGGIFT
313     1      RFA_2F

In [67]:
numerical_features_selected = ['POP90C1', 'ETH1', 'HHN2', 'DW9', 'HU2', 'HHD1', 'ETHC1', 'HUPA7', 'MC1', 'TPE7', 'ANC15', 
                              'HC15', 'MINRAMNT', 'LASTGIFT', 'AVGGIFT', 'RFA_2F']

In [68]:
donated_num_feat_RFE = donated_numerical[numerical_features_selected].copy()

In [69]:
donated_num_feat_RFE

,POP90C1,ETH1,HHN2,DW9,HU2,HHD1,ETHC1,HUPA7,MC1,TPE7,ANC15,HC15,MINRAMNT,LASTGIFT,AVGGIFT,RFA_2F
20,99,97,30,0,12,42,21,0,61,0,0,0,2.00,5.0,4.066667,3
30,99,94,23,0,3,63,30,0,74,0,0,0,2.00,7.0,6.181818,3
45,89,99,43,0,4,27,16,0,61,0,1,0,3.00,5.0,4.857143,3
78,99,97,44,0,37,18,11,0,55,0,0,0,5.00,10.0,11.000000,2
93,99,7,21,0,11,55,0,0,39,0,0,0,5.00,12.0,9.400000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95298,0,94,37,0,43,28,18,0,60,0,0,0,0.07,17.0,7.935667,1
95309,99,90,36,1,28,42,22,0,86,0,0,0,5.00,15.0,11.666667,1
95398,99,85,33,0,25,29,14,0,32,0,0,0,5.00,20.0,14.400000,3
95403,0,99,30,0,21,45,28,2,38,0,0,0,3.00,20.0,11.583333,1
95410,99,92,26,1,12,44,19,0,43,1,0,0,5.00,18.0,12.146341,4

#### Building Regressor Model

In [70]:
X_RFE = donated_num_feat_RFE
y_RFE = donated['TARGET_D']

X_train, X_test, y_train, y_test = train_test_split(X_RFE, y_RFE, test_size=0.25)

#Usage of MinMax Scaler
scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled = pd.DataFrame(X_train_scaled, columns=list(X_train.columns))
X_test_scaled = pd.DataFrame(X_test_scaled, columns=list(X_test.columns))

X_train = X_train_scaled
X_test = X_test_scaled

y_train = y_train.reset_index(drop=True) 
y_test = y_test.reset_index(drop=True)

In [74]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=10,
                             criterion = 'squared_error',
                             min_samples_split=10,
                             min_samples_leaf = 10)
regr.fit(X_train, y_train)
print(regr.score(X_train, y_train))
print(regr.score(X_test, y_test))

y_pred = regr.predict(X_test)

0.6128903810689557
0.5404668219831807

In [75]:
y_pred

array([14.58954021, 19.67299813, 16.98556476, ..., 18.95699255,
        5.09171939, 13.09509729])

In [ ]:
# assume X_test is the test set for the classification model
# assume clf is the fitted classification model
# assume model is the fitted regression model

# predict probability of donating for each person in X_test
#proba = clf.predict_proba(X_test_scaled)[:, 1]  # use positive class probability

# filter people who are predicted to donate
#donors = X_test_scaled[proba > 0.5]

# predict how much they will donate using the regression model
#X_donor = donors.drop(columns=['TARGET_B', 'TARGET_D'])
#X_donor_const = sm.add_constant(X_donor)
#predicted_donations = model.predict(X_donor_const)

#### Using now both models (classifier and regressor on complete dataset)

In [ ]:
#Classifier Model
clf_RFE_num
#Regressor Model
regr
#Scaler
scaler

In [118]:
num_list # for classifier

['INCOME',
 'POP90C1',
 'ETH10',
 'DW3',
 'HHD1',
 'RHP3',
 'HUPA1',
 'MC1',
 'TPE3',
 'OCC6',
 'HC15',
 'CARDGIFT',
 'HPHONE_D',
 'RFA_2F']

In [119]:
numerical_features_selected # for regression

['POP90C1',
 'ETH1',
 'HHN2',
 'DW9',
 'HU2',
 'HHD1',
 'ETHC1',
 'HUPA7',
 'MC1',
 'TPE7',
 'ANC15',
 'HC15',
 'MINRAMNT',
 'LASTGIFT',
 'AVGGIFT',
 'RFA_2F']

In [124]:
X = all_data.drop(['TARGET_B', 'TARGET_D'], axis = 1)
y_B = all_data['TARGET_B']
y_D = all_data['TARGET_D']

In [125]:
X_numerical = X.select_dtypes(np.number)
X_scaled = scaler.transform(X_numerical)

C:\Users\lisab\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- TARGET_D

  warnings.warn(message, FutureWarning)

ValueError: X has 315 features, but MinMaxScaler is expecting 316 features as input.

In [122]:
X_class = X_scaled[num_list].copy()
X_regr = X_scaled[numerical_features_selected].copy()

#### Predict if donation or not

In [ ]:
#pred_donation = clf_RFE_num.predict(X_class_scaled)